.userBlock {
	justify-content: start;
	width: 100%;
	display: flex;
	flex-direction: row;
	max-width: 100%;
	min-height: 200px;
	height: max-content;
	background: #333336;
	border-bottom: 1px solid #444446;
}

.userBlock .statusName {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	box-sizing: content-box;
	align-self: start;
	background: inherit;
	border-radius: 15px;
	margin: 5px;
	height: max-content;
	max-width: 600px;
	width: 100%;
	word-wrap: break-word;
}
.userBlock .img {
	margin: 20px;
	width: 90px;
	background: #333336;
	border-radius: 50px;
}
.imgBlock {
	margin: 5px;
	background: inherit;
}
.statusName div {
	margin: 15px;
	width: 280px;
	background: inherit;
}
