.formControl {
	border: 1px solid red;
}

.formControl.error input,
.formControl.error textarea {
	border: 2px red solid;
}

.formControl.error span {
	color: red;
}
.formSummaryError {
	border: solid red 1px;
	padding: 5px;
	color: red;
}

.formTextarea {
	background-color: #444446;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
