.formControl {
    width: 100%;
}

.formControl.error input,
.formControl.error textarea {
    border: 2px red solid;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: solid red 1px;
    padding: 5px;
    color: red;
}

/*.formTextarea {*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*	align-items: center;*/
/*	justify-content: center;*/
/*}*/
