.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: inherit;
	z-index: 4444;
}
.logo {
	margin-bottom: 100px;
}
.wellCome {
	background-color: inherit;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 0px 1px 0 rgb(NaN, 192, 192), 0px -1px 0 rgb(NaN, 192, 192),
		1px 0px 0 rgb(NaN, 192, 192), -1px 0px 0 rgb(NaN, 192, 192),
		1px 1px 0 rgb(NaN, 192, 192), 1px -1px 0 rgb(NaN, 192, 192),
		-1px 1px 0 rgb(NaN, 192, 192), -1px -1px 0 rgb(NaN, 192, 192),
		0px 2px 0 rgb(NaN, 192, 192), 0px -2px 0 rgb(NaN, 192, 192),
		2px 0px 0 rgb(NaN, 192, 192), -2px 0px 0 rgb(NaN, 192, 192),
		2px 2px 0 rgb(NaN, 192, 192), 2px -2px 0 rgb(NaN, 192, 192),
		-2px 2px 0 rgb(NaN, 192, 192), -2px -2px 0 rgb(NaN, 192, 192),
		0px 3px 0 rgb(NaN, 192, 192), 0px -3px 0 rgb(NaN, 192, 192),
		3px 0px 0 rgb(NaN, 192, 192), -3px 0px 0 rgb(NaN, 192, 192),
		3px 3px 0 rgb(NaN, 192, 192), 3px -3px 0 rgb(NaN, 192, 192),
		-3px 3px 0 rgb(NaN, 192, 192), -3px -3px 0 rgb(NaN, 192, 192);
	-webkit-text-shadow: 0px 1px 0 rgb(NaN, 192, 192),
		0px -1px 0 rgb(NaN, 192, 192), 1px 0px 0 rgb(NaN, 192, 192),
		-1px 0px 0 rgb(NaN, 192, 192), 1px 1px 0 rgb(NaN, 192, 192),
		1px -1px 0 rgb(NaN, 192, 192), -1px 1px 0 rgb(NaN, 192, 192),
		-1px -1px 0 rgb(NaN, 192, 192), 0px 2px 0 rgb(NaN, 192, 192),
		0px -2px 0 rgb(NaN, 192, 192), 2px 0px 0 rgb(NaN, 192, 192),
		-2px 0px 0 rgb(NaN, 192, 192), 2px 2px 0 rgb(NaN, 192, 192),
		2px -2px 0 rgb(NaN, 192, 192), -2px 2px 0 rgb(NaN, 192, 192),
		-2px -2px 0 rgb(NaN, 192, 192), 0px 3px 0 rgb(NaN, 192, 192),
		0px -3px 0 rgb(NaN, 192, 192), 3px 0px 0 rgb(NaN, 192, 192),
		-3px 0px 0 rgb(NaN, 192, 192), 3px 3px 0 rgb(NaN, 192, 192),
		3px -3px 0 rgb(NaN, 192, 192), -3px 3px 0 rgb(NaN, 192, 192),
		-3px -3px 0 rgb(NaN, 192, 192);
	-moz-text-shadow: 0px 1px 0 rgb(NaN, 192, 192), 0px -1px 0 rgb(NaN, 192, 192),
		1px 0px 0 rgb(NaN, 192, 192), -1px 0px 0 rgb(NaN, 192, 192),
		1px 1px 0 rgb(NaN, 192, 192), 1px -1px 0 rgb(NaN, 192, 192),
		-1px 1px 0 rgb(NaN, 192, 192), -1px -1px 0 rgb(NaN, 192, 192),
		0px 2px 0 rgb(NaN, 192, 192), 0px -2px 0 rgb(NaN, 192, 192),
		2px 0px 0 rgb(NaN, 192, 192), -2px 0px 0 rgb(NaN, 192, 192),
		2px 2px 0 rgb(NaN, 192, 192), 2px -2px 0 rgb(NaN, 192, 192),
		-2px 2px 0 rgb(NaN, 192, 192), -2px -2px 0 rgb(NaN, 192, 192),
		0px 3px 0 rgb(NaN, 192, 192), 0px -3px 0 rgb(NaN, 192, 192),
		3px 0px 0 rgb(NaN, 192, 192), -3px 0px 0 rgb(NaN, 192, 192),
		3px 3px 0 rgb(NaN, 192, 192), 3px -3px 0 rgb(NaN, 192, 192),
		-3px 3px 0 rgb(NaN, 192, 192), -3px -3px 0 rgb(NaN, 192, 192);
	font-size: 38px;
	color: rgb(255, 255, 255);
	font-family: Verdana, Geneva, sans-serif;
	margin-bottom: 50px;
}
.logoBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.field {
	margin: 20px;
}
.field input {
	color: #ffffff;
	border-radius: 10px;
	border: 3px solid ffffff;
	height: 40px;
	width: 300px;
}
