.app {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	height: 100vh;
	color: #ffffff;
}

.header {
	width: 100%;
	order: 0;
	flex: 1 1 100%;
	align-self: flex-start;
}

.sidebar {
	width: 30%;
	order: 0;
	flex: 3 1 auto;
	align-self: auto;
}

.content {
	width: 70%;
	order: 0;
	flex: 7 1 auto;
	align-self: auto;
}
